body.page-template-template-contributions {
  #page {

    #particles-js {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: #222;
    }

    .site-content .block {
      &.block-hero.block-hero-contributions {
        background-image: none;
        background-color: transparent;
        height: 100vh;
        display: flex;
        align-items: center;

        .container {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          max-width: 720px;
          padding-top: 0;
          padding-bottom: 0;

          h1,
          p {
            width: 100%;
          }
        }
      }

      &.block-contributions-introduction {
        background: #fff;

        .container {
          max-width: 720px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;

          a {
            color: $color-blog-links;
            text-decoration: none;
            text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
            box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #ccc;
            transition: all .55s;

            &:hover {
              color: #000;
              box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 $color-links;
            }
          }
        }
      }

      &.block-community {
        background: #f7f7f7;

        .container {
          max-width: 820px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;

          small {
            opacity: .8;
            line-height: 1.5;
            font-size: 15px;
            max-width: 70%;
            margin: 0 auto;
            display: block;

            @media(max-width: 535px) {
              max-width: 100%;
            }
          }

          a {
            color: $color-blog-links;
            text-decoration: none;
            text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
            box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #ccc;
            transition: all .55s;

            &:hover {
              color: #000;
              box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 $color-links;
            }
          }
        }

        // Official WordPress badge styles
        .badge {
          margin: 4px;
          width: 32px;
          height: 32px;
          border: 2px solid #f7f7f7;
          border-radius: 50%;
          box-sizing: border-box;
          position: absolute;
          top: 8px;
          left: 0;
          padding: 2px;
        }

        .badge-themes {
          background: transparent;
          box-shadow: 0 0 0 4px rgb(78, 50, 136);
          fill: rgb(78, 50, 136);
        }

        .badge-translation-contributor {
          background: transparent;
          box-shadow: 0 0 0 4px rgb(195, 34, 131);
          fill: rgb(195, 34, 131);
        }

        .badge-translation-editor {
          background: rgba(195, 34, 131, .25);
          box-shadow: 0 0 0 4px rgb(195, 34, 131);
          fill: rgb(195, 34, 131);
        }

        .badge-speaker {
          background: transparent;
          box-shadow: 0 0 0 4px rgb(247, 173, 67);
          fill: rgb(247, 173, 67);
        }

        .badge-plugins {
          background: transparent;
          box-shadow: 0 0 0 4px rgb(240, 103, 35);
          fill: rgb(240, 103, 35);
        }

        .badge-community-contributor {
          background: transparent;
          box-shadow: 0 0 0 4px rgb(17, 121, 157);
          fill: rgb(17, 121, 157);
        }

        .badge-community {
          background: rgba(17, 121, 157, 0.25);
          box-shadow: 0 0 0 4px rgb(17, 121, 157);
          fill: rgb(17, 121, 157);
        }

        .badge-code {
          background: transparent;
          box-shadow: 0 0 0 4px rgb(205, 0, 0);
          fill: rgb(205, 0, 0);
        }

        .badge-meta-contributor {
          background: transparent;
          box-shadow: 0 0 0 4px rgb(174, 173, 173);
          fill: rgb(174, 173, 173);
        }

        .badge-organizer {
          background: transparent;
          box-shadow: 0 0 0 4px rgb(247, 173, 67);
          fill: rgb(247, 173, 67);
        }        

        .item-list {
          list-style: none;
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
          margin-bottom: 0;
          padding: 0;
          position: relative;
          overflow: hidden;
          text-align: left;

          @media(min-width: 1365px) {
            max-width: 90%;
            margin: 0 auto;
          }

          @media(max-width: 765px) {
            max-width: 500px;
            margin: 0 auto;
          }

          @media(max-width: 535px) {
            max-width: 220px;
            margin: 0 auto;
          }
        }

        .item-list li {
          @include column(1/3, $cycle: 3);
          border-bottom: none;
          box-sizing: border-box;
          display: inline-block;
          font-size: 17px;
          padding: 16px 0 16px 55px;
          position: relative;          
          color: #444;

          @media(max-width: 765px) {
            @include column(1/2, $cycle: 2);
          }

          @media(max-width: 535px) {
            @include stack();
          }
        }
      }      

      &.block-techniques {
        background: $color-almostblack;

        @media(max-width: $container-mobile) {
          .container {
            padding-top: 4rem;
            padding-bottom: 2rem;
          }
        }

        h2,
        p {
          color: #fff;
        }

        h2 {
          text-align: center;
        }

        .logos-tech {
          overflow: hidden;
          margin-top: 50px;
          text-align: center;
          margin-left: 0;
          margin-bottom: 0;
          margin-right: 0;
          padding-left: 80px;
          padding-right: 80px;

          @media(max-width: 900px) {
            padding-left: 30px;
            padding-right: 30px;
          }

          @media (max-width: $container-ipad) {
            padding-left: 0;
            padding-right: 0;
          }

          .row {
            overflow: visible;

            &.row-first {
              .col {
                @include span(1/5);
                text-align: center;

                &.col-sass {
                  svg {
                    position: relative;
                    left: -30px;
                  }

                  @media(max-width: $container-mobile) {
                    position: relative;
                    left: 30px;
                  }
                }

                &.col-gulp {
                  svg {
                    position: relative;
                    right: -10px;

                    @media(max-width: $container-mobile) {
                      left: 25px;
                    }
                  }
                }

                &.col-html {
                  svg {
                    position: relative;

                    @media(max-width: $container-mobile) {
                      left: 10px;
                    }
                  }
                }

                &.col-npm {
                  svg {
                    position: relative;
                    top: 20px;
                    left: -20px;

                    @media(max-width: $container-mobile) {
                      left: 0;
                    }
                  }
                }

                @media(max-width: 615px) {
                  @include span(1/3);
                }

                @media(max-width: $container-mobile) {
                  @include stack();
                }
              }
            }

            &.row-second {
              @media(min-width: $container-ipad) {
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
              }

              .col {
                @include span(1/4);

                @media(min-width: 615px) {
                  &.col-jquery {
                    svg {
                      position: relative;
                      left: -50px;
                    }
                  }

                  &.col-git {
                    svg {
                      position: relative;
                      left: -20px;
                    }
                  }

                  &.col-nginx {
                    svg {
                      position: relative;
                      right: -20px;
                      top: 10px;
                    }
                  }
                }

                @media(max-width: 615px) {
                  @include span(1/3);
                }

                @media(max-width: $container-mobile) {
                  @include stack();

                  &.col-git {
                    svg {
                      position: relative;
                      top: 20px;
                    }
                  }
                }
              }
            }

            &.row-third {
              @media(min-width: $container-ipad) {
                max-width: 50%;
                margin-left: auto;
                margin-right: auto;
              }

              .col {
                @include span(1/3);

                @media(max-width: $container-mobile) {
                  @include stack();
                }
              }
            }
          }

          .col {
            margin-bottom: 10px;
            padding: 20px;

            @media (max-width: $container-mobile) {
              @include stack();
              margin-bottom: 10px;
            }

            svg {
              width: 130px;
              height: 70px;

              @media (max-width: $container-ipad) {
                width: 110px;
                height: 50px;
              }

              @media (max-width: $container-mobile) {
                height: 100px;
              }
            }
          }
          } // .logos-tech
        }

        &.block-contributions {
          background: #fff;

          h2 {
            text-align: center;
            margin-bottom: 50px;
            margin-top: 0;
          }

          .wrapper {
            > .col {
              @include column(1/3, $cycle: 3, $gutter: 1);
              border: 1px solid $color-githubgrey;
              border-radius: 3px;
              padding: 16px;
              margin-bottom: 10px;

              // Needs to set to something proper to fit all the content - let's keep description short
              height: 250px;
              position: relative;
              overflow: hidden;

              a {
                color: $color-blog-links;
                text-decoration: none;
                text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
                transition: all .55s;

                &:hover {
                  color: #000;
                  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 $color-links;
                }
              }

              @media(max-width: 960px) {
                @include column(1/2, $cycle: 2, $gutter: 1);
                height: 230px;
              }

              @media(max-width: 730px) {
                height: 270px;
              }

              @media(max-width: 600px) {
                @include stack();
                height: auto;

                &.col-theme,
                &.col-devtool,
                &.col-plugin {
                  padding-bottom: 50px;
                }

                p {
                  margin-bottom: 0;
                }
              }

              h3 {
                @extend %h4;
                margin-bottom: 5px;

                a {
                  color: $color-body;
                }
              }

              h4 {
                font-size: 15px;
                font-family: $font-headings;
                font-weight: 400;
                margin-top: 5px;
                color: $color-blog-links;
                margin-bottom: 0;
                opacity: .7;
              }

              p,
              span {
                font-size: 15px;
                color: #767676;

                a {
                  color: $color-blog-links;
                  text-decoration: none;
                  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
                  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #ccc;
                  transition: all .55s;

                  &:hover {
                    color: #000;
                    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 $color-links;
                  }
                }
              }

              .octicon-star {
                fill: #767676;
                position: relative;
                top: 2px;
              }

              .contribution-details {
                position: absolute;
                bottom: 10px;
                width: 90%;

                .col {
                  &.col-stargazers {
                    @include column(1/2);
                  }

                  &.col-timeago {
                    @include column(1/2);

                    p {
                      opacity: .7;
                      position: relative;
                      text-align: right;
                    }
                  }

                  p {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
