body.page-template-template-contributions {
  #page {

    #particles-js {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: #222;
    }

    .site-content {
      .block {
        &.block-hero.block-hero-contributions {
          background-image: none;
          background-color: transparent;
          height: 100vh;

          .container {
            @include vertical-align();
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 720px;
            padding-top: 0;
            padding-bottom: 0;

            h1,
            p {
              width: 100%;
            }
          }
        }

        &.block-contributions-introduction {
          background: #fff;

          .container {
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            a {
              color: $color-blog-links;
              text-decoration: none;
              text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
              box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #ccc;
              transition: all .55s;

              &:hover {
                color: #000;
                box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 $color-links;
              }
            }
          }
        }

        &.block-techniques {
          background: $color-almostblack;

          @media(max-width: $container-mobile) {
            .container {
              padding-top: 4rem;
              padding-bottom: 2rem;
            }
          }

          h2,
          p {
            color: #fff;
          }

          h2 {
            text-align: center;
          }

          .logos-tech {
            overflow: hidden;
            margin-top: 50px;
            text-align: center;
            margin-left: 0;
            margin-bottom: 0;
            margin-right: 0;
            padding-left: 80px;
            padding-right: 80px;

            @media(max-width: 900px) {
              padding-left: 30px;
              padding-right: 30px;
            }

            @media (max-width: $container-ipad) {
              padding-left: 0;
              padding-right: 0;
            }

            .row {
              overflow: visible;

              &.row-first {
                .col {
                  @include span(1/5);
                  text-align: center;

                  &.col-sass {
                    svg {
                      position: relative;
                      left: -30px;
                    }

                    @media(max-width: $container-mobile) {
                      position: relative;
                      left: 30px;
                    }
                  }

                  &.col-gulp {
                    svg {
                      position: relative;
                      right: -10px;

                      @media(max-width: $container-mobile) {
                        left: 25px;
                      }
                    }
                  }

                  &.col-html {
                    svg {
                      position: relative;

                      @media(max-width: $container-mobile) {
                        left: 10px;
                      }
                    }
                  }

                  &.col-npm {
                    svg {
                      position: relative;
                      top: 20px;
                      left: -20px;

                      @media(max-width: $container-mobile) {
                        left: 0;
                      }
                    }
                  }

                  @media(max-width: 615px) {
                    @include span(1/3);
                  }

                  @media(max-width: $container-mobile) {
                    @include stack();
                  }
                }
              }

              &.row-second {
                @media(min-width: $container-ipad) {
                  max-width: 80%;
                  margin-left: auto;
                  margin-right: auto;
                }

                .col {
                  @include span(1/4);

                  @media(min-width: 615px) {
                    &.col-jquery {
                      svg {
                        position: relative;
                        left: -50px;
                      }
                    }

                    &.col-git {
                      svg {
                        position: relative;
                        left: -20px;
                      }
                    }

                    &.col-nginx {
                      svg {
                        position: relative;
                        right: -20px;
                        top: 10px;
                      }
                    }
                  }

                  @media(max-width: 615px) {
                    @include span(1/3);
                  }

                  @media(max-width: $container-mobile) {
                    @include stack();

                    &.col-git {
                      svg {
                        position: relative;
                        top: 20px;
                      }
                    }
                  }
                }
              }

              &.row-third {
                @media(min-width: $container-ipad) {
                  max-width: 50%;
                  margin-left: auto;
                  margin-right: auto;
                }

                .col {
                  @include span(1/3);

                  @media(max-width: $container-mobile) {
                    @include stack();
                  }
                }
              }
            }

            .col {
              margin-bottom: 10px;
              padding: 20px;

              @media (max-width: $container-mobile) {
                @include stack();
                margin-bottom: 10px;
              }

              svg {
                width: 130px;
                height: 70px;

                @media (max-width: $container-ipad) {
                  width: 110px;
                  height: 50px;
                }

                @media (max-width: $container-mobile) {
                  height: 100px;
                }
              }
            }
          } // .logos-tech
        }

        &.block-contributions {
          background: #fff;

          h2 {
            text-align: center;
            margin-bottom: 50px;
            margin-top: 0;
          }

          .wrapper {
            > .col {
              @include column(1/3, $cycle: 3, $gutter: 1);
              border: 1px solid $color-githubgrey;
              border-radius: 3px;
              padding: 16px;
              margin-bottom: 10px;

              // Needs to set to something proper to fit all the content - let's keep description short
              height: 250px;
              position: relative;
              overflow: hidden;

              a {
                color: $color-blog-links;
                text-decoration: none;
                text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
                transition: all .55s;

                &:hover {
                  color: #000;
                  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 $color-links;
                }
              }

              @media(max-width: 960px) {
                @include column(1/2, $cycle: 2, $gutter: 1);
                height: 230px;
              }

              @media(max-width: 730px) {
                height: 270px;
              }

              @media(max-width: 600px) {
                @include stack();
                height: auto;

                &.col-theme,
                &.col-devtool,
                &.col-plugin {
                  padding-bottom: 50px;
                }

                p {
                  margin-bottom: 0;
                }
              }

              h3 {
                @extend %h4;
                margin-bottom: 5px;

                a {
                  color: $color-body;
                }
              }

              h4 {
                font-size: 15px;
                font-family: $font-headings;
                font-weight: 400;
                margin-top: 5px;
                color: $color-blog-links;
                margin-bottom: 0;
                opacity: .7;
              }

              p,
              span {
                font-size: 15px;
                color: #767676;

                a {
                  color: $color-blog-links;
                  text-decoration: none;
                  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
                  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #ccc;
                  transition: all .55s;

                  &:hover {
                    color: #000;
                    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 $color-links;
                  }
                }
              }

              .octicon-star {
                fill: #767676;
                position: relative;
                top: 2px;
              }

              .contribution-details {
                position: absolute;
                bottom: 10px;
                width: 90%;

                .col {
                  &.col-stargazers {
                    @include column(1/2);
                  }

                  &.col-timeago {
                    @include column(1/2);

                    p {
                      opacity: .7;
                      position: relative;
                      text-align: right;
                    }
                  }

                  p {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
} // body.page-template-template-contributions
