body {

  &.single-service {
    #page {
      .site-content {
        .slide {
          &.slide-service-references {
            .mosaic {
              &:nth-child(even) {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  #page {
    .site-content {
      .slide {

        &.slide-wordpress,
        &.slide-verkkosivut,
        &.slide-hero.slide-wordpress {
          background-color: $color-wordpress;
        }

        &.slide-woocommerce,
        &.slide-verkkokaupat,
        &.slide-hero.slide-woocommerce {
          background-color: $color-woocommerce;
        }

        &.slide-service-info,
        &.slide-hosting-info {
          text-align: center;

          .service-description {
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;

            p {
              color: $color-servicedescriptions;
            }
          }

          h2 {
            @extend .h5;
            color: $color-lightgrey-alt;
            font-family: $font-headings;
            text-transform: uppercase;
            font-weight: 700;

            span {
              @extend .h5;
              font-family: $font-headings;
              font-weight: 700;

              &.order-number {
                color: $color-body-darker;
                position: relative;

                &:after {
                  content: '';
                  position: absolute;
                  bottom: -5px;
                  width: 70%;
                  left: 5px;
                  height: 2px;
                  background: #484848;
                }
              }
            }
          }

          .hosting {
            margin-top: 90px;

            ul {
              list-style: none;
              padding: 0;
              margin: 0;

              li {
                position: relative;
                padding: 0;
                margin: 0;

                span {
                  border-bottom: 1px solid #e4e4e4;
                  padding: 10px;
                  display: inline-block;
                }
              }
            }
          } // .hosting

          .pricing {
            @extend .h5;
            margin-top: 70px;
            color: #142030;
            text-transform: uppercase;
            font-family: $font-headings;

            p,
            span {
              color: #18252e;
              font-weight: 700;
              font-family: $font-headings;

              &.pricing-label {
                color: #c4c4c4;
                display: block;
                font-size: 16px;
                font-weight: 700;
              }
            }

            .price {
              font-size: 42px;
            }
          } // .pricing
        } // .slide-service-info, .slide-hosting-info

        &.slide-service-references {
          h2 {
            color: #fff;
            text-align: center;
            margin-bottom: 2rem;
          }

          .container {
            &.container-service-quote {
              margin-top: 0;
              padding-top: 0;

              .general-description {
                max-width: 900px;
              }

              blockquote {
                margin-bottom: 0;
                text-align: center;
                max-width: 900px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                padding-left: 60px;
                padding-right: 60px;

                @media(max-width: $container-mobile) {
                  padding-left: 0;
                  padding-right: 0;
                }

                &:before {
                  top: 0;
                  left: 0;
                  content: '\201C';
                  position: absolute;
                  width: 60px;
                  height: 60px;
                  font-size: 120px;
                  line-height: 1;
                  z-index: 50;
                  font-family: $font-headings;
                  color: #fff;
                  opacity: .5;

                  @media(max-width: $container-mobile) {
                    display: none;
                  }
                }

                p {
                  font-style: normal;
                  font-size: 21px;
                  font-weight: 700;
                  opacity: 1;
                  color: #fff;
                }
              }

              .customer {
                overflow: visible;
                white-space: nowrap;
                min-width: 300px;
                margin-left: auto;
                margin-right: auto;
                text-align: left;
                display: inline-block;

                h4 {
                  font-size: 16px;
                  margin: 20px 0 5px;
                  color: #fff;
                }

                h6 {
                  font-size: 16px;
                  color: #fff;
                  margin: 0;
                  opacity: .5;
                }

                .avatar {
                  @include background-cover();
                  width: 72px;
                  height: 72px;
                  border-radius: 50%;
                  float: left;
                  margin-right: 25px;
                }
              }
            }
          }
        }

        .steps {
          ol {
            overflow: hidden;
            margin: 0;
            padding: 130px 40px 0;

            @media(max-width: 540px) {
              padding-left: 0;
              padding-right: 0;
            }

            li {
              @include span(1/3, $cycle: 3);
              counter-increment: stepnumbers;
              list-style: none;
              position: relative;
              padding: 30px;
              margin-bottom: 50px;
              transition: all 1s;
              text-align: center;

              @media(max-width: 800px) {
                @include span(1/2, $cycle: 2);
                border: 0;
              }

              @media(max-width: 540px) {
                @include stack();
                overflow: hidden;
                margin-bottom: 10px;
                display: block;
                top: 0;
                text-align: center;
                padding-left: 0;
                padding-right: 0;
              }

              p {
                position: relative;
                z-index: 4;
                color: $color-servicedescriptions;
                font-size: 16px;
              }

              h4 {
                @extend .h6;
                text-transform: uppercase;
              }

              &:before {
                @include responsive-font(12vw, 150px, 220px);
                content: counter(stepnumbers) ' ';
                font-weight: bold;
                position: absolute;
                top: -50px;
                left: 20px;
                line-height: 1;
                z-index: 0;
                transition: all 1s;
                opacity: .1;
                color: $color-wordpress;
                font-family: $font-headings;

                @media(max-width: 540px) {
                  top: 0;
                  left: 0;
                  position: relative;
                }
              }

              &:hover {
                &:before {
                  opacity: .3;
                  color: $color-wordpress;
                }
              }

              &:first-child {
                counter-reset: stepnumbers;
              }
            }
          }
        }
      } // .slide
    } // .site-content
  } // #page
} // body
