// Site footer
body {
  #page {
    .site-footer {
      background: #111;
      padding: 0;
      overflow: hidden;

      .container {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .col {
          &.col-support,
          &.col-company,
          &.col-customers {
            a {
              padding-bottom: 0;
              border: 0;
              transition: all .55s;

              &:hover {
                border: 0;
                opacity: .5;
              }
            }
          }

          &.col-support {
            a {
              &.start-chat {
                border: 2px solid #fff;
                padding: 5px 14px;
                margin-top: 8px;
                margin-bottom: 8px;
                margin-left: 0;
                display: inline-block;
                line-height: 1;
                position: relative;
                overflow: hidden;

                span {
                  transition: .55s;
                  font-size: 14px;
                  color: #fff;
                  position: relative;
                  top: -1px;
                }

                &:before {
                  content: attr(data-hover);
                  transform: translate(-150%, 0);
                }

                &:after {
                  content: attr(data-active);
                  transform: translate(150%, 0);
                }

                &:before,
                &:after {
                  position: absolute;
                  top: 8px;
                  left: 0;
                  width: 100%;
                  text-align: center;
                  opacity: 0;
                  transition: .55s, opacity .55s;
                }

                &:hover {
                  bottom: 0;
                  opacity: 1;

                  span {
                    color: transparent;
                  }

                  &:before {
                    opacity: 1;
                    transform: translate(0, 0);
                  }
                }
              }
            }
          }
        }

        p {
          opacity: .8;
        }
      }

      .slide {
        &.slide-footer {
          text-align: center;
          background: transparent;
        }

        &.slide-end {
          background: transparent;

          .container {
            border-top: 5px solid #1c1c1c;

            .col {
              &.col-left {
                @include column(2/3);

                @media(max-width: $container-ipad+2) {
                  padding-right: 20px;
                }

                @media(max-width: $container-ipad) {
                  @include stack();
                  padding-left: 0;
                  padding-right: 0;
                  margin-bottom: 20px;
                  text-align: center;
                }
              }

              &.col-right {
                @include column(1/3);
                text-align: right;

                @media(max-width: $container-ipad) {
                  @include stack();
                  text-align: center;
                }

                a {
                  border: 0;
                  margin-right: 10px;
                  white-space: nowrap;

                  &:last-child {
                    margin-right: 0;
                  }

                  &:hover {
                    border: 0;
                  }

                  &.greenweb {
                    path {
                      transition: none;
                    }

                    &:hover {
                      svg {
                        fill: #70ba2b;
                      }
                    }
                  }

                  &.valittaja {
                    &:hover {
                      .colored {
                        fill: #094983;
                      }

                      .colored-stroke {
                        stroke: #094983;
                      }
                    }
                  }

                  &.koodiasuomesta {
                    &:hover {
                      svg {
                        fill: #2eafd7;

                        path {
                          fill: #2eafd7;
                        }
                      }
                    }
                  }
                }

                svg {
                  fill: #6d6e70;
                  width: 64px;
                  height: 64px;
                  margin-right: 0;
                  margin-top: 16px;
                  transition: .55s all;

                  path {
                    transition: .55s all;
                  }

                  &:last-child {
                    margin-right: 0;
                  }

                  &.valittajatunnus {
                    fill: #111;
                  }

                  &.greenweb,
                  &.koodiasuomesta {
                    path {
                      fill: #6d6e70;
                    }
                  }
                }
              }
            }

            // Coffee cup
            .coffee {

              @media(max-width: $container-ipad) {
                text-align: center;
                overflow: visible;
                margin-left: auto;
                margin-right: auto;
                display: inline-block;
                white-space: nowrap;
              }

              @media(max-width: $container-mobile) {
                overflow: hidden;
              }

              &:hover {
                .coffee-cup-animation {
                  .a,
                  .b {
                    fill: #6d6d6d;
                  }

                  .steam-container {
                    .squiggle-container {
                      .squiggle {
                        path {
                          stroke: #6d6d6d;
                        }
                      }
                    }
                  }
                }
              }

              .coffee-cup-container {

                .coffee-cup {
                  width: 20px;
                }

                .a,
                .b {
                  transition: all .55s;
                  fill: #424242;
                }
              }

              // Animated cup
              .coffee-cup-animation {
                float: left;

                .steam-container {
                  width: 18px;
                  height: 20px;
                  margin-left: 0;

                  .squiggle-container {
                    width: 0;
                    height: 20px;
                    display: inline-block;

                    .squiggle {
                      @include moveAndFadeAnimation(10px, 2.5s, .2s);
                      width: 8px;
                      stroke-dasharray: 100;

                      path {
                        transition: all .55s;
                        stroke: #424242;
                      }
                    }

                    &.squiggle-container-1 {
                      transform: translate(0, 12px);
                    }

                    &.squiggle-container-2 {
                      transform: translate(-1px, 13px) scale(.7);

                      .squiggle {
                        @include moveAndFadeAnimation(10px, 3s, 5s);
                        width: 10px;
                      }
                    }

                    &.squiggle-container-3 {
                      transform: translate(-4px, 17px) scale(.8);

                      .squiggle {
                        @include moveAndFadeAnimation(15px, 2.5s, .1s);
                        width: 10px;
                      }
                    }
                  }
                }
              }
            }

            .coffee-text {
              position: relative;
              top: 23px;
              left: 10px;
              color: #777;
              opacity: .6;
              transition: all .55s;

              @media(max-width: $container-ipad) {
                text-align: left;
                display: inline;
                white-space: nowrap;
                top: 18px;
              }

              @media(max-width: $container-mobile) {
                padding-right: 10px;
              }

              &:hover {
                opacity: .9;
              }

              span {
                color: #777;
              }

              .coffee-time {
                font-size: 13px;
                opacity: .75;
                margin-left: 10px;

                span {
                  font-size: 13px;
                }

                @media(max-width: $container-mobile) {
                  display: none;
                }
              }
            }

            p {
              color: #777;
              line-height: 1.8;

              a {
                color: #888;
                border-color: rgba(#888, .5);
                padding-bottom: 2px;

                &:hover {
                  color: #aaa;
                  border-color: rgba(#888, .3);
                }
              }
            }
          }
        }
      }

      h2,
      h3,
      p {
        color: #fff;
      }

      h3 {
        @extend .h5;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;

        margin: 0;

        span {
          font-size: 14px;

        }
      }

      a {
        color: #fff;
        border-bottom: 1px solid rgba(#aaa, .5);
        padding-bottom: 5px;

        &:hover {
          border-bottom: 1px solid #fff;
        }
      }

      .col {
        @include column(1/3);

        @media(max-width: 700px) {
          @include stack();
          margin-bottom: 50px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.cookie-notification-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #fff;
  width: 165px;
  padding: 10px 15px 8px;
  line-height: 1.5;
  z-index: 9999999;
  box-shadow: 0 0 40px rgba(85, 85, 85, .2);
  transition: all .55s;
  opacity: 1;

  @media(max-width: $container-mobile) {
    box-shadow: 0;
    width: 100%;
    bottom: 0;
    right: 0;
  }

  &.fadeout {
    animation: fadeOutUp 1s;
    opacity: 0;
  }

  .content {
    padding: 0;
    line-height: 1.5;

    @media(max-width: $container-mobile) {
      .content-text {
        @include column(4/7);
      }

      .button-wrapper {
        @include column(3/7);
      }
    }

    p {
      font-size: 13px;
      line-height: 1.5;
      padding: 0;
      margin: 0;

      b {
        font-family: $font-headings;
      }

      a {
        color: #666;
        text-decoration: none;
        text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #ccc;
        transition: all .55s;

        &:hover {
          color: #000;
          box-shadow: inset 0 -1px 0 0 #fff, inset 0 -4px 0 0 $color-links;
        }

        &.button {
          @extend .default;
          background: transparent;
          width: auto;
          display: inline-block;
          text-decoration: none;
          position: relative;
          cursor: pointer;
          border-radius: 0;
          appearance: none;
          transition: all .5s;
          font-family: $font-headings;
          border: 2px solid $color-body;
          text-transform: uppercase;
          font-weight: 700;
          color: $color-body;
          font-size: 11px;
          padding: 5px 15px;
          margin-top: 8px;
          text-shadow: none;
          box-shadow: none;
          white-space: nowrap;
          overflow: hidden;

          @media(max-width: $container-mobile) {
            float: right;
            text-align: center;
            top: -5px;
            padding: 5px 25px;
          }

          // iPhone SE
          @media(max-width: 320px) {
            width: 100%;
            top: -5px;
            padding-left: 0;
            padding-right: 0;
          }

          &:hover,
          &:focus {
            color: #fff;
            border-color: $color-body;
            box-shadow: 0 -32px 0 $color-body inset;
            background: $color-body;
          }
        }
      }
    }
  }
}
