body {
  .crisp-client {

    a {
      // Hide minimized chat by default
      &[data-maximized="false"] {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;

        * {
          display: none !important;
          visibility: hidden !important;
          opacity: 0 !important;
        }
      }

      &[data-maximized="true"] {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;

        * {
          display: block !important;
          visibility: visible !important;
          opacity: 1 !important;
        }
      }
    }

    // Set up default font family
    * {
      font-family: $font-base !important;
    }
  }
}
